@import "modern-normalize";
@import "reset.css";

/********************************************/
/* DESIGN SYSTEM */
/********************************************/
:root {
  font-size: 62.5%; /* Start with 10px as default relative font size assuming default browser font size of 16px*/

  /*****  COLORS (primary, secondary, accents and greys) *****/
  --clr-white: #fff;
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey: rgb(117, 117, 117);
  --clr-green: green;
  --clr-green-light: rgba(0, 128, 0, 0.772);

  /***** TYPOGRAPHY *****/
  /* font weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* - Font sizes (px) */
  --fs-100: 1rem; /* 10px */
  --fs-200: 1.2rem; /* 12px */
  --fs-300: 1.4rem; /* 14px */
  --fs-400: 1.6rem; /* 16px */
  --fs-500: 1.8rem; /* 18px */
  --fs-600: 2rem; /* 20px */
  --fs-700: 2.4rem; /* 24px */
  --fs-800: 3rem; /* 30px */
  --fs-900: 3.6rem; /* 36px */
  --fs-1000: 4.4rem; /* 44px */
  --fs-1100: 5.2rem; /* 52px */
  --fs-1200: 6.2rem; /* 62px */
  --fs-1300: 7.4rem; /* 74px */
  --fs-1400: 8.6rem; /* 86px */
  --fs-1500: 9.8rem; /* 98px */

  /* letter spacing */
  /* line heights */

  /***** WHITESPACE *****/
  /* spacing system */
  --space-20: 0.2rem;
  --space-50: 0.4rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-600: 4.8rem;
  --space-800: 6.4rem;
  --space-1000: 8rem;
  --space-1200: 9.6rem;
  --space-1600: 12.8rem;

  /***** SHADOWS *****/

  /***** BORDER RADIUS *****/
}

/********************************************/
/* SPECIFIC STYLES */
/********************************************/
body {
  height: 100vh;
  font-size: var(--fs-500);
  background-image: linear-gradient(rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.369)), url(./assets/home-banner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: cover;
  color: var(--clr-white);
  font-family:
    "Inria Serif",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* NAVBAR */
header {
  padding: var(--space-400) var(--space-600);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: var(--space-300);
}

/* HOME PAGE BANNER */

.home-banner {
  margin: 0 auto;
  padding: var(--space-1000);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* text-align: center; */
  max-width: 100rem;
}

.banner__title {
  margin-bottom: var(--space-300);
}

.banner__description {
  font-size: var(--fs-400);
  /* font-style: italic; */
  line-height: 1.5;
  margin-bottom: var(--space-600);
}

.cta-btn.btn {
  color: var(--clr-black);
  background-color: var(--clr-white);
  padding: 1.2rem var(--space-400);
  font-size: var(--fs-400);
  border: 2px solid transparent;
  border-radius: 1px;
  transition: all 0.3s;
}

.cta-btn.btn:hover {
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
}

/********************************************/
/* REUSABLE COMPONENTS */
/********************************************/
.btn {
  color: var(--clr-white);
  background: none;
  border: none;
  padding: 0.4rem var(--space-200);
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-20);
  list-style: none;
}

/* .nav {
  display: flex;
  justify-content: center;
} */

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 60%;
  height: 2px;
  background-color: var(--clr-white);
  transform: translate(-50%) scale(0);
  transform-origin: center;
  opacity: 0;
  transition:
    transform 0.3s ease-in,
    opacity 0.3s ease-in;
}

.nav-item:hover::after,
.active::after {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}

/********************************************/
/* UTILITY / HELPER CLASSES */
/********************************************/
.heading-primary {
  font-size: var(--fs-1200);
  line-height: 1;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -1.2px;
}

#content {
  width: min(90%, 120rem);
  margin: 0 auto;
}
